body{background: #EFEFEF; margin: 0;}
a{color: inherit; text-decoration: none;}
*{margin: 0; padding: 0;}
hr {height: 0; border: none; border-top: 1px solid #DEDEDE;}
ul,ol {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
.clearfix::after{content: ''; display: block; clear: both;}
/*上面不要看*/
.topNavBar {padding: 20px 0 20px 0; position: fixed; top: 0; left: 0; width: 100%;}
.topNavBar-inner { padding: 0 10px 0 10px;}
.topNavBar .logo { font-family: "Arial Black"; font-size: 24px; padding-top: 8px; padding-bottom: 8px; padding-left: 8px; }
.topNavBar .logo .rs{ color: #e6686a; margin-right: 4px;}
.topNavBar .logo .card{ color: #9A9DA2;}

.topNavBar nav { font-size: 13px; padding-top: 8px; padding-bottom: 8px;}
.topNavBar nav a{ color: rgba(255, 255, 255, 0.7); text-decoration: none; font-weight: bold;}
.topNavBar nav ul{ list-style: none; padding: 8px; margin: 0;}
.topNavBar nav ul>li{ float: left; margin-left: 17px; margin-right: 17px;}
.topNavBar nav ul>li>a{ border-bottom: 3px solid transparent;}
.topNavBar nav ul>li>a:hover{ border-bottom-color: #DC6465;}

.banner{ height: 520px; background-image: url("dog.jpg"); background-position: center center; background-size: cover;}
.banner .mask { height: 520px; background-color: rgba(0,0,0,0.7);}

.usercard { max-width: 940px; margin-left: auto; margin-right: auto; background-color: #FFFFFF; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5)}
.usercard .welcome { background: #e6686a; color: white; display: inline-block; padding: 4px 16px; line-height: 22px; position: relative; margin-bottom: 10px;}
.usercard .welcome .triangle { display: block; border: 10px solid transparent; width: 0px; border-left-color: #e6686a; border-top-width: 0px; position: absolute; left: 6px; top: 100%;}
.usercard .picture { float: left;}
.usercard .text { float: left; margin-left: 65px; width: 470px;}
.usercard .text h1 { margin-top: 15px;}
.usercard .text hr { margin: 20px 0;}
.usercard .pictureAndText { padding: 50px;}
.usercard dl dt,
.usercard dl dd{ float: left; padding: 5px 0;}
.usercard dl dt{ width: 30%; font-weight: bold;}
.usercard dl dd{ width: 70%; color: #9daba7;}
.usercard > footer.media { background: #e6686a; text-align: center; padding: 15px 0;}
.usercard > footer.media > a { display: inline-block; width: 40px; line-height: 30px; padding: 5px 0; border-radius: 50%;}
.usercard > footer.media > a:hover{ background: #CF5D5F; }
.usercard svg { width: 30px; height: 30px; fill: white; margin: 0 6px; vertical-align: top;}
body > main { margin-top: -350px }
body > main .DownloadResume-wrapper { text-align: center; }
body > main .DownloadResume { font-size: 14px; line-height: 16px; padding: 21px 55px; border: 1px solid #CDCFD1;
    background: #EFEFEF; display: inline-block; border-radius: 2px; color: #3d4451; font-weight: bold;
    margin: 32px 0; transition: box-shadow 0.25s; }
body > main .DownloadResume:hover { box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);}
.self-introduction { max-width: 940px; margin-left: auto; margin-right: auto; text-align: center;
    font-family: kaiti; line-height: 1.8; font-size: 18px; }

section.skills,
section.Portfolio { max-width: 940px; margin-left: auto; margin-right: auto; margin-top: 60px; }
section.skills > h2,
section.Portfolio > h2{ text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600; }
section.skills > h3 { font-size: 14px; line-height: 1.1; padding-right: 40px; }
section.skills > ol { background: white; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5); padding: 42px 50px 10px; margin-top: 30px; }
section.skills > ol >li { float: left; width: 48%; box-sizing: border-box; }
section.skills > ol >li:nth-child(even) { float: right; }
section.skills .progressBar{ height: 5px; background: #FAE1E1; border-radius: 5px; margin: 4px 0 40px; }
section.skills .progressBar > .progress { height: 100%; background: #e6686a; width: 70%; border-radius: 5px; }
section.Portfolio { text-align: center; }
section.Portfolio >nav { text-align: center; }
section.Portfolio >nav >ol { margin: 0 auto; display: inline-block; vertical-align: top; }
section.Portfolio >nav >ol >li { float: left; margin-left: 40px; cursor: pointer; }
section.Portfolio >nav >ol >li:first-child { margin-left: 0; }
section.Portfolio >nav { display: inline-block; vertical-align: top; margin-top: 32px; }
section.Portfolio >nav  .bar{ height: 5px; background: white; }
section.Portfolio >nav  .bar-inner { height: 100%; background: #e6686a; border-radius: 2px; transition: all 0.3s; }
section.Portfolio >nav .bar.state-1 .bar-inner { margin-left: 0; width: 34px; }
section.Portfolio >nav .bar.state-2 .bar-inner { margin-left: 65px; width: 50px; }
section.Portfolio >nav .bar.state-3 .bar-inner { margin-left: 140px; width: 100px; }
section.Portfolio .work{ position: relative}
section.Portfolio .work > .big, section.Portfolio .work > .small { position: absolute; }